.navbar-container {
  @include flex(flex, center, space-between);

  h3 {
    @include font(medio);
    color: $secundaria;
    font-weight: bold;
    margin-left: 15px;
  }

  span {
    color: $dark;
  }

  ul {
    @include flex(flex, center);
    margin: 0px 15px;
    @include font(pequena);
  }
  li {
    margin: 0px 15px;
    list-style: none;
  }

  button {
    @include buttons(pequeno);
  }
}
