@mixin font($size) {
  font-family: "Roboto", sans-serif;
  @if $size == pequena {
    font-size: 16px;
    font-weight: 400;
  } @else if $size == medio {
    font-size: 35px;
    font-weight: 400;
  } @else if $size == grande {
    font-size: 45px;
  }
}
